body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#1976d2;

font-family:Arial;

color:white;

}

#splash{

text-align:center;

}

img{

width:180px;

}